.contact__us{
    padding: 40px 0;
    h2{
        font-family: RFRufo-Semibold;
        font-size: 32px;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .contactus__title{
        h1{
            font-family: RFRufo-Semibold;
            font-size: 48px;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
            line-height: 1.43;
            color: #606060;
            span{
                color: black;
            }
        }
    }
}

.contact__us__block{
    display: flex;
    justify-content: space-between;
    padding: 26px 25px;
    background: white;
    margin: 15px 0 40px 0;
    .contact__us__line{
        width: 1px;
        max-height: 100%;
        background-color: black;
    }
    .contact__us__item{
        width: 23%;
        display: flex;
        column-gap: 7px;
        font-size: 17px;
        line-height: 1.5;
    }
}