.guarantee__title{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 40px;
    h1{
        font-size: 48px;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
    }
    p{
        font-size: 18px;
        color: #606060;
        width: 50%;
    }
}

.delivery__items{
    width: 52%;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
    .delivery__item{
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        h4{
            font-size: 24px;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            .delivery__item__blue{
                color: #0684bd;
            }
            .delivery__item__yellow{
                color: #ff9000;
            }
        }
    }
}

.delivery__ups{
    width: 42%;
    .delivery__ups__top {
        background: 
            linear-gradient(rgba(6, 132, 189, 0.5), rgba(8, 152, 209, 0.5)), 
            url(../../../public/delivery.jpeg) center/cover no-repeat;
        width: 100%;
        height: 200px;
        padding: 40px 53px 90px;
        h3{
            font-size: 32px;
            color: #fff;
            margin-bottom: 15px;
        }
        display: flex;
        flex-direction: column;
        .delivery__ups__top__text{
            row-gap: 6px;
            display: flex;
            flex-direction: column;
            .delivery__ups__top__text__item{
                display: flex;
                font-size: 16px;
                font-weight: 600;
                column-gap: 10px;
                
                span{
                    color: #fff;
                    opacity: 0.7;
                    text-transform: uppercase;
                }
                p{
                    color: #fff;
                    
                }
            }
        }
    }
    .delivery__ups__bottom{
        width: 100%;
        background-color: #ff9000;
        color: #fff;
        text-align: center;
        padding: 10px;
        p{
            font-weight: 600;
            font-size: 18px;
        }
    }
}

.delivery__block {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.delivery{
    padding: 40px 0;
}