/* styles/SwiperComponent.css */
.swiper-container {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* Стили для стрелок */
.swiper-button-next, .swiper-button-prev {
  color: #000; /* Цвет стрелок */
  width: 40px; /* Размер стрелок */
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5); /* Фон стрелок */
  border-radius: 50%; /* Закругленные края */
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Фон при наведении */
}

.swiper-pagination-bullet {
  background-color: #000; /* Цвет точек пагинации */
}

.swiper-pagination-bullet-active {
  background-color: #ff4500; /* Цвет активной точки */
}
