.configutator_block{
    background-color: white;
    padding: 22px 30px 15px 30px;
    display: flex;
    column-gap: 20px;
    border-radius: 10px;
    
    .configutator_block__right{
        width: 100%;
      }
    h4{
        padding-bottom: 20px;
        font-size: 30px;
    }
    .brand{
        display: flex;
        column-gap: 20px;
        .brand__inp{
            display: flex; 
            flex-direction: column; 
            row-gap: 10px;
            align-items: center;
        }
    }
    
}