.configutator_block{
    background-color: white;
    padding: 22px 30px 15px 30px;
    display: flex;
    column-gap: 20px;
    border-radius: 10px;
    flex-direction: column;
    .radio__list{
        display: flex;
        column-gap: 100px;
        width: 100%;

        .radio{
            display: flex;
            height: 20px;
            column-gap: 5px;
        }
    }
}