.configutator_block{
    background-color: white;
    padding: 22px 30px 15px 30px;
    display: flex;
    column-gap: 20px;
    border-radius: 10px;
    .power__select{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        select{
            height: 30px;
            bo
        }
        .radio__list{
            display: flex;
            column-gap: 100px;
            width: 100%;
            .radio{
                display: flex;
                height: 20px;
                column-gap: 5px;
            }
        }
    }
}