.blog{
    padding: 80px 0;
    background: white;
    .blog__wrapper{
        :default
        .blog__card{
            width: 286px;
            height: 440px;
            background: url(../../../../public/images.jpeg)center/cover no-repeat;
        }
    }
}