.restored{
    padding: 60px 0;
    .restored__top{
        display: flex;
        .restored__text{
            h3{
                argin-bottom: 16px;
    font-size: 32px;
            }
        }
    }
}