.guarantee__top{
    padding: 50px 0;
    .guarantee__title{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-bottom: 40px;
        h1{
            font-size: 48px;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
        }
        p{
            font-size: 18px;
            color: #606060;
        }
    }
}

.guarantee__items{
    .three__whales{
        background-color: white;
        padding: 40px 20px;
        display: flex;
        .reasons{
            display: flex;
            align-items: center;
            column-gap: 20px;
            width: 24%;
            span{
                font-family: RFRufo-Black;
                font-size: 72px;
                line-height: 0.8;
                color: #0684bd;
            }
            .reasons__right{
                h4{
                    font-family: RFRufo-Semibold;
                    font-size: 24px;
                    line-height: 1;
                    font-weight: 400;
                    text-transform: uppercase;
                }
                span{
                    font-family: RFRufo-Semibold;
                    font-size: 24px;
                    line-height: 1;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
        .three__whales__cards{
            display: flex;
            

            .three__whales__card{
                width: 33%;
                display: flex;
                align-items: center;
                p{
                    display: block;
                    font-family: RFRufo-Semibold;
                    text-transform: uppercase;
                    span{
                        color: #ff9000;
                    }
                }
            }
        }
    }

    .guaranty__term{
        padding: 50px 0;
    }
}


.guarantee__line{
    width: 1px;
    height: 100%;
    background-color: #f0f0f0;
    margin: 0 15px;
}