* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  .container{
    width: 1170px;
    margin: 0 auto;
  }
  
  .header__wrapper{
    display: flex;
    column-gap: 50px;
  }

  .configutator_block{
    width: 100%;
    padding: 22px 30px 15px;
    background-color: white;
  }

  body{
    background-color: #f4f6f8;
  }
  

.swiper-slide{
  width: 300px;
}

.w{
display: flex;
justify-content: space-between;
}

.faq_answer.open {
  max-height: 1000px; 
  padding: 10px 0; 
  opacity: 1; 
  color: #000;
  font-size: 20px;
}

.faq_answer {
  overflow: hidden; 
  max-height: 0;
  padding: 0 10px; 
  font-size: 14px;
  color: #333;
  opacity: 0; 
  transition: max-height 0.3s ease, opacity 0.3s ease; 
}
